table {
    border-collapse:collapse;

}
th, td, caption{
    border:black solid 1px;
    ;

}


.container {
    display: inline-block;
    
    
}
.container section:last-child{
    vertical-align: top;

    
}   


.evidence{
    font-weight: bold;
    color: red;
}   